.ForumItems {
    background: linear-gradient(90deg, rgb(137, 182, 207),rgb(166, 186, 215),rgb(174, 188, 217),rgb(203, 198, 210),rgb(235, 209, 202),rgb(250, 223, 192),rgb(254, 242, 210),rgb(254, 242, 210),rgb(254, 242, 210));
    height: 1000px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    overflow-y: scroll;
}

.post-editor {
  margin: 1em 20%;
}

.post-editor-button {
  float: right;
  margin-top: 1em;

}

.post-body {
  margin: 1em 20%;
}

@media(max-width: 900px) {
  .post-editor {
    margin: 1em;
  }

  .post-body {
    margin: 1em;
  }
}