.post-editor-input {
    resize: none;
    width: 90%;
    height: 50px;
}

.post-editor-button {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.post-editor-button:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-in;
    background: #fff;
    color: #3c3464;
    transition: 250ms;
}